<%= flash[:notice] %>

<ul>
  <% @bookmarks.each do |bookmark| %>
    <li>
    <a href="<%= bookmark.url %>">
      <%= bookmark.title %></li>
    </a>
  <% end %>
</ul>
<br>
<a href='/'>go back </a>
